In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Iowa_Liquor_Sales.csv')

/Users/sheraleelovejoy/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.head()

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,...,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,S29198800001,11/20/2015,2191,Keokuk Spirits,1013 MAIN,KEOKUK,52632,"1013 MAIN\nKEOKUK 52632\n(40.39978, -91.387531)",56.0,Lee,...,297,Templeton Rye w/Flask,6,750,$18.09,$27.14,6,$162.84,4.50,1.19
1,S29195400002,11/21/2015,2205,Ding's Honk And Holler,900 E WASHINGTON,CLARINDA,51632,"900 E WASHINGTON\nCLARINDA 51632\n(40.739238, ...",73.0,Page,...,297,Templeton Rye w/Flask,6,750,$18.09,$27.14,12,$325.68,9.00,2.38
2,S29050300001,11/16/2015,3549,Quicker Liquor Store,1414 48TH ST,FORT MADISON,52627,"1414 48TH ST\nFORT MADISON 52627\n(40.624226, ...",56.0,Lee,...,249,Disaronno Amaretto Cavalli Mignon 3-50ml Pack,20,150,$6.40,$9.60,2,$19.20,0.30,0.08
3,S28867700001,11/04/2015,2513,Hy-Vee Food Store #2 / Iowa City,812 S 1ST AVE,IOWA CITY,52240,812 S 1ST AVE\nIOWA CITY 52240\n,52.0,Johnson,...,237,Knob Creek w/ Crystal Decanter,3,1750,$35.55,$53.34,3,$160.02,5.25,1.39
4,S29050800001,11/17/2015,3942,Twin Town Liquor,104 HIGHWAY 30 WEST,TOLEDO,52342,"104 HIGHWAY 30 WEST\nTOLEDO 52342\n(41.985887,...",86.0,Tama,...,249,Disaronno Amaretto Cavalli Mignon 3-50ml Pack,20,150,$6.40,$9.60,2,$19.20,0.30,0.08

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12591077 entries, 0 to 12591076
Data columns (total 24 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Invoice/Item Number    object
 1   Date                   object
 2   Store Number           int64
 3   Store Name             object
 4   Address                object
 5   City                   object
 6   Zip Code               object
 7   Store Location         object
 8   County Number          float64
 9   County                 object
 10  Category               float64
 11  Category Name          object
 12  Vendor Number          float64
 13  Vendor Name            object
 14  Item Number            int64
 15  Item Description       object
 16  Pack                   int64
 17  Bottle Volume (ml)     int64
 18  State Bottle Cost      object
 19  State Bottle Retail    object
 20  Bottles Sold           int64
 21  Sale (Dollars)         object
 22  Volume Sold (Liters)   float64
 23  Volume Sold (Gallons)  float64
dtypes: float64(5), int64(5), object(14)
memory usage: 2.3+ GB

In [5]:
df1 = df.drop(['Invoice/Item Number','Store Number','County Number','County','Vendor Number','Pack','Volume Sold (Gallons)','Category','Category Name'], axis=1)

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12591077 entries, 0 to 12591076
Data columns (total 15 columns):
 #   Column                Dtype
---  ------                -----
 0   Date                  object
 1   Store Name            object
 2   Address               object
 3   City                  object
 4   Zip Code              object
 5   Store Location        object
 6   Vendor Name           object
 7   Item Number           int64
 8   Item Description      object
 9   Bottle Volume (ml)    int64
 10  State Bottle Cost     object
 11  State Bottle Retail   object
 12  Bottles Sold          int64
 13  Sale (Dollars)        object
 14  Volume Sold (Liters)  float64
dtypes: float64(1), int64(3), object(11)
memory usage: 1.4+ GB

In [7]:
df1['Date']

0           11/20/2015
1           11/21/2015
2           11/16/2015
3           11/04/2015
4           11/17/2015
               ...
12591072    10/31/2017
12591073    10/31/2017
12591074    10/31/2017
12591075    10/31/2017
12591076    10/31/2017
Name: Date, Length: 12591077, dtype: object

In [8]:
df1['Year']=pd.DatetimeIndex(df1['Date']).year

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12591077 entries, 0 to 12591076
Data columns (total 16 columns):
 #   Column                Dtype
---  ------                -----
 0   Date                  object
 1   Store Name            object
 2   Address               object
 3   City                  object
 4   Zip Code              object
 5   Store Location        object
 6   Vendor Name           object
 7   Item Number           int64
 8   Item Description      object
 9   Bottle Volume (ml)    int64
 10  State Bottle Cost     object
 11  State Bottle Retail   object
 12  Bottles Sold          int64
 13  Sale (Dollars)        object
 14  Volume Sold (Liters)  float64
 15  Year                  int64
dtypes: float64(1), int64(4), object(11)
memory usage: 1.5+ GB

In [10]:
df1['Year']

0           2015
1           2015
2           2015
3           2015
4           2015
            ...
12591072    2017
12591073    2017
12591074    2017
12591075    2017
12591076    2017
Name: Year, Length: 12591077, dtype: int64

In [11]:
mask = ((df1['Year'] == 2015))
new_df = df1[mask]

In [12]:
new_df['Year']

0          2015
1          2015
2          2015
3          2015
4          2015
           ...
8428097    2015
8428098    2015
8428099    2015
8428100    2015
8428101    2015
Name: Year, Length: 2184483, dtype: int64

In [13]:
new_df.to_csv('iowa_sales.csv')

In [14]:
df2 = pd.read_csv('iowa_sales.csv')

In [15]:
df2.head()

,Unnamed: 0,Date,Store Name,Address,City,Zip Code,Store Location,Vendor Name,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Year
0,0,11/20/2015,Keokuk Spirits,1013 MAIN,KEOKUK,52632,"1013 MAIN\nKEOKUK 52632\n(40.39978, -91.387531)",Wilson Daniels Ltd.,297,Templeton Rye w/Flask,750,$18.09,$27.14,6,$162.84,4.50,2015
1,1,11/21/2015,Ding's Honk And Holler,900 E WASHINGTON,CLARINDA,51632,"900 E WASHINGTON\nCLARINDA 51632\n(40.739238, ...",Wilson Daniels Ltd.,297,Templeton Rye w/Flask,750,$18.09,$27.14,12,$325.68,9.00,2015
2,2,11/16/2015,Quicker Liquor Store,1414 48TH ST,FORT MADISON,52627,"1414 48TH ST\nFORT MADISON 52627\n(40.624226, ...",Disaronno International LLC,249,Disaronno Amaretto Cavalli Mignon 3-50ml Pack,150,$6.40,$9.60,2,$19.20,0.30,2015
3,3,11/04/2015,Hy-Vee Food Store #2 / Iowa City,812 S 1ST AVE,IOWA CITY,52240,812 S 1ST AVE\nIOWA CITY 52240\n,Jim Beam Brands,237,Knob Creek w/ Crystal Decanter,1750,$35.55,$53.34,3,$160.02,5.25,2015
4,4,11/17/2015,Twin Town Liquor,104 HIGHWAY 30 WEST,TOLEDO,52342,"104 HIGHWAY 30 WEST\nTOLEDO 52342\n(41.985887,...",Disaronno International LLC,249,Disaronno Amaretto Cavalli Mignon 3-50ml Pack,150,$6.40,$9.60,2,$19.20,0.30,2015

In [16]:
mask1 = (df2['City'] == ('BETTENDORF'))
final_df = df2[mask1]

In [17]:
final_df['City']

254        BETTENDORF
319        BETTENDORF
379        BETTENDORF
521        BETTENDORF
662        BETTENDORF
              ...
2184304    BETTENDORF
2184307    BETTENDORF
2184393    BETTENDORF
2184418    BETTENDORF
2184471    BETTENDORF
Name: City, Length: 29591, dtype: object

In [18]:
final_df.head()

,Unnamed: 0,Date,Store Name,Address,City,Zip Code,Store Location,Vendor Name,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Year
254,765,11/18/2015,Hy-Vee Wine and Spirits / Bettendorf,2890 DEVILS GLEN ROAD,BETTENDORF,52722,2890 DEVILS GLEN ROAD\nBETTENDORF 52722\n(41.5...,Proximo,35039,Three Olives Pomegranate Vodka,750,$9.96,$14.94,3,$44.82,2.25,2015
319,1066,11/20/2015,Tobacco 4 Less / State St,1032 STATE ST,BETTENDORF,52722,"1032 STATE ST\nBETTENDORF 52722\n(41.525027, -...","Bacardi U.S.A., Inc.",43034,Bacardi Gold Rum,375,$4.50,$6.75,3,$20.25,1.12,2015
379,1307,05/04/2015,Lot-A-Spirits,3780 STATE ST,BETTENDORF,52722,"3780 STATE ST\nBETTENDORF 52722\n(41.529655, -...",Sazerac North America,8827,Lauder's,1000,$6.14,$9.21,12,$110.52,12.00,2015
521,1901,03/09/2015,Lot-A-Spirits,3780 STATE ST,BETTENDORF,52722,"3780 STATE ST\nBETTENDORF 52722\n(41.529655, -...",Blaum Bros. Distilling Co.,74664,HellFyre,750,$14.00,$21.00,3,$63.00,2.25,2015
662,2457,04/01/2015,Hy-Vee Wine and Spirits / Bettendorf,2890 DEVILS GLEN ROAD,BETTENDORF,52722,2890 DEVILS GLEN ROAD\nBETTENDORF 52722\n(41.5...,Jim Beam Brands,16416,Old Grand-Dad 100 Prf Bond Bourbon 4 Yr,750,$9.97,$14.96,2,$29.92,1.50,2015

In [19]:
mask2 = (df2['Store Name'] == ('Lot-A-Spirits'))
final_df = df2[mask2]

In [20]:
final_df.head()

,Unnamed: 0,Date,Store Name,Address,City,Zip Code,Store Location,Vendor Name,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Year
379,1307,05/04/2015,Lot-A-Spirits,3780 STATE ST,BETTENDORF,52722,"3780 STATE ST\nBETTENDORF 52722\n(41.529655, -...",Sazerac North America,8827,Lauder's,1000,$6.14,$9.21,12,$110.52,12.00,2015
521,1901,03/09/2015,Lot-A-Spirits,3780 STATE ST,BETTENDORF,52722,"3780 STATE ST\nBETTENDORF 52722\n(41.529655, -...",Blaum Bros. Distilling Co.,74664,HellFyre,750,$14.00,$21.00,3,$63.00,2.25,2015
787,2949,09/02/2015,Lot-A-Spirits,3780 STATE ST,BETTENDORF,52722,"3780 STATE ST\nBETTENDORF 52722\n(41.529655, -...",Jim Beam Brands,27783,Jim Beam Apple,750,$10.49,$15.74,2,$31.48,1.50,2015
1175,4629,01/12/2015,Lot-A-Spirits,3780 STATE ST,BETTENDORF,52722,"3780 STATE ST\nBETTENDORF 52722\n(41.529655, -...",Prestige Wine and Spirits Group,75214,Kinky Blue,750,$10.00,$15.00,12,$180.00,9.00,2015
1249,4969,09/21/2015,Lot-A-Spirits,3780 STATE ST,BETTENDORF,52722,"3780 STATE ST\nBETTENDORF 52722\n(41.529655, -...",Jim Beam Brands,27048,Knob Creek Rye,750,$20.99,$31.49,1,$31.49,0.75,2015

In [22]:
print(len(pd.unique(final_df['Item Description'])))

598

In [26]:
bottles_df = final_df.groupby('Item Description')['Bottles Sold'].sum()

In [27]:
bottles_df

Item Description
1800 Coconut                    28
1800 Reposado                  342
1800 Reposado Tequila          180
1800 Silver                     78
1800 Silver Tequila             28
                              ...
Wiser's Rye                      2
Wolfschmidt                     84
Woodford Reserve Bourbon       210
Yukon Jack Canadian Liqueur    192
Zyr Vodka                        2
Name: Bottles Sold, Length: 598, dtype: int64

In [28]:
bottles_df.to_csv('bottle_sales.csv')

In [29]:
final_df.to_csv('final_iowa_sales.csv')